/*----HTML Tags---*/

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

/*----Stylers---*/
.col-4{ /*Remove Bootstrap Padding*/
    padding:0;
}

.col-12{ /*Remove Bootstrap Padding*/
    padding: 0;
}

.col-lg-4{
    padding: 0;
}

.col-lg-12{
    padding: 0;
}

.container-fluid { /*Remove Bootstrap Padding*/
    padding:0;
}

.row { /*Remove Bootstrap Margin*/
    margin: 0;
}

button,
button:focus,
button:active{
	border:1px solid black;
	background:none;
	outline:none;
	padding:0;
}
/*----NavBar----*/

.TopNav { /*Navbar logo box styling*/
    background-color: #fafafa;
}

.NavLogo { /*Navbar Logo Styling*/
    max-width: 620px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.navbar { /*Navbar box styling*/
    background-color: #fafafa;
    border-bottom: black;
    border-bottom-width: 2px; 
    border-bottom-style: solid;
    padding: 4px 10px;
}

.navbar-brand { /*Remove margin making it off centre*/
    margin: 0;
}

.navbar-light .navbar-toggler { /*remove toggler border*/
    border: none;
}
.navbar-nav { /*Centring Nav options*/
    margin-left: auto;
    margin-right: auto;
}

.navbar-light .navbar-nav .nav-link { /*Navbar words styling*/
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 3px;
}

.nav-item { /*Navbar toggled words styling*/
    margin-left: auto;
    margin-right: auto;
}

/*----Footer----*/

html { /*Required for footer postioning*/
    height: 100%;
}

body { /*Creating column flex to stick footer to bottom*/
    display: flex;
    flex-direction: column;
    
}

.Content { /*Pushes footer to the bottom of the page*/
    flex: 1 0 auto;
    background-color: black;
}

footer { /*Pushes footer to the bottom of the page*/
    flex-shrink: 0;
}

.FooterRow { /*Footer Box sytly and sizing*/
    height: 60px;
    width: 100%;
    background-color: #fafafa;
    border-top: black;
    border-top-width: 2px; 
    border-top-style: solid;
}

.FooterSection { /*Footer sections style and sizing*/
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
}

.FooterSection3 { /*Social Links section styling*/
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.VerticalDivider { /*Vertical Divider class for splits in footer*/
    width: 1px;
    height: 25px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: 0!important;
    margin-right: 0!important;
}

.DesignerStamp { /*Left footer styling*/
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 20px;
    margin: 0;
}

.DesignerLink { /*Designer Link Styling*/
    color: grey;
}

.ReportLink { /*Report link styling*/
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    margin: 0;
    color: black;
}

.ReportLinkStyle { /*Required for report link effect*/
    transition: color 0.5s ease;
}

.SocialLink { /*Social footer links styling*/
    margin-left: 20px;
    padding: 1px 0;
    color: black;
    transition: color 0.5s ease;
}

.fa-lg {    /*Footer icon Sizing*/
    font-size: 1.5em;
}
/*----Footer hover styles----*/

.DesignerLink:hover {
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.ReportLinkStyle:hover { /*Report Footer hover style*/
    font-weight: 900;
    color: red;
    text-decoration: none;
    transition-timing-function: ease-in-out;
}

.fa-twitter:hover { /*Twiiter hover effect*/
    transition-timing-function: ease-in-out;
    color: #00acee;
}

.fa-instagram:hover { /*instagram hover effect*/
    transition-timing-function: ease-in-out;
    color: #E1306C;
}

.fa-youtube:hover { /*Youtube hover effect*/
    transition-timing-function: ease-in-out;
    color: #c4302b;
}

.fa-spotify:hover { /*Spotify hover effect*/
    transition-timing-function: ease-in-out;
    color: #1ed761;
}

/*----Home Body----*/
.HomePageSlider { /*Slider Image fits container without warping*/
    width: inherit;
}

.HomePicButton { /*Home Image Buttons fits container without warping*/
    width: inherit;
}

.HomeCallout1 {
    background-image: url(../Images/HomeBackText1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.1;
}

.HomeCallout2 {
    background-image: url(../Images/HomeBackText2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.1;
}

.HomeCallout3 {
    background-image: url(../Images/HomeBackText3.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.1;
}

.HomeDivider {
    width: 100%;
    height: 10px;
    border: 0;
    background-color: #202020;
    margin: 0;
}

/*----Report Body----*/

.ReportTitle { /*Reporting Page title Styling*/
    padding-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    text-align: center;
    color: black;
}

.ReportPara { /*Reporting Page subtext Styling*/
    padding-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    color: black;
}

.FormStyle { /*Reporting Page form Styling*/
    padding-top: 40px;
}

.ButtonStyle,
.ButtonStyle:focus,
.ButtonStyle:active { /*Form button styling and positioning*/
    margin-top: 2px;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #E0E0E0;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color 0.5s ease;
}

.ButtonStyle:hover,
.ButtonStyle:focus,
.ButtonStyle:active { /*Form button hover affect*/
    transition-timing-function: ease-in-out;
    color: #fafafa;
    background-color: black;
}