/*----------------HTML Elements----------------*/
li {
    list-style: none;
}



/*----------------HTML Elements----------------*/
/*----------------Navigation Bar----------------*/
.Nav {
    background-color: white;
    border-bottom: black;
    border-style: solid;
    border-width: 2px;
}

.NavLogo{
    width: auto;
    height: 140px;
    padding: 5px 50px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.NavOptions{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
}

.LogoIcon {
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.NavSocial {
    margin-left: auto;
    margin-right: auto;
    
}

h4 {
    margin-top: 5px;
    margin-bottom: 20px;
}
/*----------------Navigation Bar----------------*/